@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* color: white; */
}


#nav {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 100px;
    gap: 60px;
    position: fixed;
    z-index: 99;
    color: white;
    /* font-weight: 500; */
}

.cursor {
    height: 15px;
    width: 15px;
    background-color: #d0ff00;
    border-radius: 50px;
    z-index: 99;
    position: fixed;
}

.cursor-blur {
    height: 80px;
    width: 80px;
    background-color: #d0ff00;
    border-radius: 50%;
    filter: blur(60px);
    position: fixed;
    z-index: 99;
}

.cursor-animation {
    animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.cursor,
.cursor-blur {
    pointer-events: none;
}

#nav img {
    height: 65px;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.541);
    height: 100%;
    width: 100%;

}

#background {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#background h1 {
    font-size: 95px;
    color: white;
    font-weight: 900;
    position: relative;
    color: #ffffff;
    text-shadow: 0 0 7px #95B112;
}

#background h2 {
    font-size: 35px;
    color: white;
    font-weight: 800;
    margin-top: -5px;
    margin-bottom: 10px;
}

#background h4 {
    font-size: 18px;
    color: white;
    display: flex;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    width: 64%;
}

#background h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    left: -3px;
    top: -2px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    color: rgb(52, 2, 56);
    z-index: -1;
}

#scroll {
    height: 100vh;
    width: 100%;
}

.scrollinganimation {
    font-size: 80px;
    font-weight: 900;
    text-shadow: 0 0 2px #ffffff;
    position: absolute;
    top: 640px;
    color: black;
   
}

/* .scrollinganimation> :nth-child(1){
    white-space: nowrap;
    overflow-x: hidden;
} */


.scrollinganimation> :nth-child(1) {
    -webkit-text-stroke: 2px #ffffff;
    color: #000000;
    text-shadow: 0 0 9px #ffffff;
}

.scrollinganimation> :nth-child(1):hover {

    color: #95B112;
    text-shadow: 0 0 3px #95B112;
    -webkit-text-stroke: 0px #ffffff;
}

.aboutus {
    /* height: 100%; */
    /* width: 70vw; */
    /* padding: 0px 155px 0px ; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: relative;
    top: -320px;
}

.aboutus> :nth-child(1) {
    height: 200px;
    width: 200px;
    border-radius: 7px;
    margin-left: 95px;
}

.aboutus> :nth-child(3) {
    height: 200px;
    width: 200px;
    border-radius: 7px;
    margin-right: 95px;
}



.para {
    /* display: flex; */
    text-align: center;
    font-size: 18px;
}

.para> :nth-child(1) {
    font-weight: 900;
    font-size: 30px;
}

.para> :nth-child(2) {
    text-align: center;
    margin-top: 23px;
    text-align: center;
}

.para> :nth-child(3) {
    text-align: center;
    margin-top: 20px;
}

#cards-container {
    /* background-color: #95B112; */
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: -265px;
    overflow: hidden;

}

.cards> :nth-child(1) {
    color: white;
    font-weight: 900;
    transition: ease-in-out;
    text-align: left;
    padding: 8px;
    margin-top: 270px;
    font-size: 50px;
    -webkit-text-stroke: 1px #00000067;

}



.cards:hover .trhover {
    display: none;
}

.cards:hover .adhover {
    display: none;
}

.cards:hover .Lhover {
    display: none;
}

.cards {
    height: 350px;
    width: 330px;
    border-radius: 13px;
    overflow: hidden;



}

#card1 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card2 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card1,
#card2,
#card3 {
    background-size: cover;
    background-position: center;
    transition: transform 0.9s;
}

#card1:hover,
#card2:hover,
#card3:hover {
    transform: scale(1.1);
    transform: rotate3d(-1, 1, 0, 12deg);
    overflow: hidden;
}


.transaition {
    background-color: #95B112;
    height: 100%;
    width: 100%;
    padding-top: 110px;
    padding: 30px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.9s;
    overflow: hidden;
}

.transaition h4 {
    color: black;
    font-weight: 900;
    font-size: 28px;
}

.transaition p {
    color: rgba(0, 0, 0, 0.712);
    font-weight: 500;
    font-size: 18px;
    padding-top: 20px;
}

.transaition:hover {
    opacity: 100;
    transition: opacity 0.9s;
}

.greencontainer {
    margin-top: 60px;
    height: 185px;
    background: linear-gradient(#24A436, #69B429, #A1D021);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-transform: uppercase;
    text-align: center;
}

.greencontainer h2 {
    font-size: 30px;
    text-shadow: 8px 4px 20px #00000091;
}


.greencontainer> :nth-child(1) {
    object-fit: cover;
    height: 100%;
    width: 95px;
    z-index: 99;
    opacity: 50;
}

.greencontainer> :nth-child(3) {
    height: 100%;
    width: 95px;
    z-index: 99;

}

.slideshow-container {
    overflow: hidden;
    border-radius: 17px;
    display: flex;
    flex-direction: row;

}

.slideshow-container img {
    width: 550px;
    height: 390px;

    margin-left: 105px;
    margin-top: 100px;
    border-radius: 17px;
    box-sizing: border-box;

}

.slidepara h1 {
    color: rgb(255, 255, 255);
    font-size: 37px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    /* width: 50%; */
    margin-top: 126px;
    margin-left: 57px;
    font-weight: 900;
    font-family: Montserrat, sans-serif;
    flex-direction: column;

}

.slidepara p {
    margin-top: 20px;
    color: rgb(214, 214, 214);
    display: flex;
    text-align: left;
    width: 70%;
    margin-left: 55px;
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
}

.slidepara button {
    width: 155px;
    height: 46px;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    margin-top: 20px;
    font-weight: 800;
    margin-left: 186px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border: 3px solid #7bdd25;
    background-color: #000000;
    border-radius: 15px;
}


.slidepara button::before {
    content: '';
    background: linear-gradient(45deg, #48ff00, #98CB22, #88C324, #7a00ff, #ff00c8, #ff0000, #2EA633, #31A733, #71B827, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 900%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 15px;
}


.slidepara button:hover:before {
    opacity: 1;
}

.slidepara button:hover {
    background-color: #A1D021;
  }
.slidepara button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    border-color: #69B429;
    left: 0;
    top: 0;
    border-radius: 15px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}





.dots {
    cursor: pointer;
    height: 15px;
    width: 15px;
    top: 38px;

    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    margin: 5px;
    overflow: hidden;
}

.active,
.dot:hover {
    background-color: #A1D021;
}

.imgs img {
    border-radius: 15px;
}

.imgs {
    transition: opacity 0.6s ease-in-out;
}

.totalwidth {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
    width: 53%;
    z-index: 99;
}


.waiting {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    ;
}

.waiting h3 {
    margin-top: 140px;
    font-size: 70px;
    font-family: "Montserrat", sans-serif;
    text-shadow:1px 0 0 rgb(255, 255, 255),0 1px 0 rgb(255, 255, 255),-1px 0 0 rgb(255, 255, 255),0 -1px 0 rgb(255, 255, 255);
    color: black;
    
   
    
}

.waiting h3:hover {
    color: black ;
    text-shadow: 0 0 3px #6fad0c;
    text-shadow:2px 0 0 rgb(46, 156, 42),0 1px 0 rgb(46, 156, 42),-1px 0 0 rgb(46, 156, 42),0 -1px 0 rgb(46, 156, 42);
}


.cadie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.one {
    height: 165px;
    width: 370px;
    background-color: rgb(166, 212, 38);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 30px;
}

.two {
    height: 165px;
    font-weight: 900;
    font-size: 30px;
    
    width: 370px;
    background-color: rgb(166, 212, 38);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.three {
    height: 165px;
    width: 370px;
    font-weight: 900;
    font-size: 30px;
    background-color: rgb(166, 212, 38);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}