@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* color: white; */

}


#nav {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 100px;
    margin: 5px;
    gap: 60px;
    position: fixed;
    z-index: 9999;
    color: white;
    /* font-weight: 500; */
}


#nav h4 {
    margin: -5px;
}

#nav img {
    height: 65px;
}

#mySidenav button {
    opacity: 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0px;
    /* left: 0px; */
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #9ACD22;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.hide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    visibility: hidden;

}





.popup {
    width: 100%;
    height: 100%;
    display: none;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
    top: 50px;
    position: relative;
}

.user {
    background: linear-gradient(to bottom, rgb(50, 157, 62), rgb(157, 205, 37));
    height: 330px;
    width: 509px;
    border-radius: 3px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 90px;


}

.user input {
    margin: 20px auto;
    display: block;
    padding: 8px;
    width: 50%;
    border-radius: 8px;
    border: 3px solid #353506;
    text-align: center;
    text-align: start;
    font-weight: 300;
}

.user textarea {
    border: 2px solid #353506;
    border-radius: 8px;
    position: relative;
    bottom: 20px;
    width: 54%;
}

.user button {
    box-shadow: 0 0 7px #95B112;
    ;
    border-radius: 4px;
    position: relative;
    top: -5px;
}


.user img {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 30px;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 3px;
    cursor: pointer;
    z-index: 6;
}



.user> :nth-child(4) {
    position: relative;
    top: -45px;
}

.user> :nth-child(3) {
    width: 30px;
    height: 30px;
    position: relative;
    right: 165px;
    top: -57px;
    border-radius: 50%;
    background: none;
}

.user> :nth-child(5) {
    width: 30px;
    height: 30px;
    position: relative;
    right: 165px;
    top: -100px;
    border-radius: 50%;
    background: none;
}


.btn-81,
.btn-81 *,
.btn-81 :after,
.btn-81 :before,
.btn-81:after,
.btn-81:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-81 {
    -webkit-tap-highlight-color:
        transparent;
    -webkit-appearance: button;
    background-color:
        #000000;
    color:
        #fff;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.5;
    text-shadow: 0 0 7px #95B112;

    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
}



.btn-81 {
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    height: 35px;
    width: 110px;
    position: relative;
    text-transform: uppercase;
}

.btn-81 span {
    mix-blend-mode: difference;
}

.btn-81:before {
    background:
        linear-gradient(to bottom, rgb(50, 157, 62), rgb(157, 205, 37));
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
}

.btn-81:hover:before {
    -webkit-animation: progress-bar 1.2s;
    animation: progress-bar 1.2s;
}

@-webkit-keyframes progress-bar {
    0% {
        height: 0%;
        opacity: 1;
    }

    10% {
        height: 15%;
        opacity: 1;
    }

    25% {
        height: 25%;
        opacity: 1;
    }

    40% {
        height: 35%;
        opacity: 1;
    }

    55% {
        height: 75%;
        opacity: 1;
    }

    60% {
        height: 100%;
        opacity: 1;
    }

    to {
        height: 100%;
        opacity: 0;
    }
}

@keyframes progress-bar {
    0% {
        height: 0%;
        opacity: 1;
    }

    10% {
        height: 15%;
        opacity: 1;
    }

    25% {
        height: 25%;
        opacity: 1;
    }

    40% {
        height: 35%;
        opacity: 1;
    }

    55% {
        height: 75%;
        opacity: 1;
    }

    60% {
        height: 100%;
        opacity: 1;
    }

    to {
        height: 100%;
        opacity: 0;
    }
}


.btn-79,
.btn-79 *,
.btn-79 :after,
.btn-79 :before,
.btn-79:after,
.btn-79:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-79 {
    background-color: #000;
    color: #ffffff;
    cursor: pointer;
    font-weight: 900;
    line-height: 1.5;
    -webkit-mask-image: -webkit-radial-gradient linear-gradient(to left, rgb(50, 157, 62), rgb(157, 205, 37));
}


.btn-79 svg {
    display: block;
    vertical-align: middle;
}

.btn-79 {
    --height: 60px;
    background: none;
    border-radius: 0px;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    height: var(--height);
    padding: 0 3rem;
    position: relative;
    text-transform: uppercase;
}

.btn-79 span {
    font-weight: 900;
    mix-blend-mode: difference;
}

.btn-79:before {
    background: linear-gradient(to left, rgb(50, 157, 62), rgb(157, 205, 37));
    border-radius: 15px;
    content: "";
    height: calc(var(--height) / 1.7);
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
    width: calc(var(--height) / 1.7);
}

.btn-79:hover:before {
    left: 0;
    width: 100%;
}



#mySidenav span {
    background-color: #24A436;
    height: 45px;
    width: 45px;
}

.btn-55,
.btn-55 *,
.btn-55 :after,
.btn-55 :before,
.btn-55:after,
.btn-55:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-55 {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.btn-55 {
    background: linear-gradient(to left, rgb(50, 157, 62), rgb(157, 205, 37));
    border-radius: 15px;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-weight: 500;
    overflow: hidden;
    /* padding: 1.8rem 5rem; */
    height: 42px;
    width: 122px;
    position: relative;
    text-transform: uppercase;
    margin: 12px;
}


.btn-55 span {
    background: #000000;
    border-radius: 15px;
    color: #fff;
    display: grid;
    inset: 3px;
    place-items: center;
    position: absolute;
    transition: background 0.5s;
}

.btn-55:hover span {
    background: none;
}

.buttns {
    display: flex;
    flex-direction: row;
    margin-left: 27px;
}


.cursor {
    height: 15px;
    width: 15px;
    background-color: #d0ff00;
    border-radius: 50px;
    z-index: 99;
    position: fixed;
}

.cursor-blur {
    height: 80px;
    width: 80px;
    background-color: #d0ff00;
    border-radius: 50%;
    filter: blur(60px);
    position: fixed;
    z-index: 99;
}

.cursor-animation {
    animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.cursor,
.cursor-blur {
    pointer-events: none;
}



video {
    height: 1030px;
    width: 100%;
    object-fit: cover;
    /* z-index: -1; */
    position: absolute;
    background-position: center;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.541);
    height: 100%;
    width: 100%;
}

#background {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#background h1 {
    font-size: 95px;
    color: white;
    font-weight: 900;
    position: relative;
    color: #ffffff;
    text-shadow: 0 0 7px #95B112;
    text-align: center;
}

#background h2 {
    font-size: 35px;
    color: white;
    font-weight: 800;
    margin-top: -5px;
    margin-bottom: 10px;
}

#background h4 {
    font-size: 18px;
    color: white;
    display: flex;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    width: 64%;
}

#background h1::before {
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    left: -3px;
    top: -2px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    color: rgb(52, 2, 56);
    z-index: -1;
}



#scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.scroll-wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
}

.scrollinganimation {
    font-size: 80px;
    font-weight: 900;
    text-shadow: 0 0 2px #ffffff;
    position: absolute;
    top: 700px;
    color: black;

}

.scrollinganimation> :nth-child(1) {
    -webkit-text-stroke: 2px #ffffff;
    color: #000000;
    text-shadow: 0 0 9px #ffffff;
}

.scrollinganimation> :nth-child(1):hover {

    color: #95B112;
    text-shadow: 0 0 3px #95B112;
    -webkit-text-stroke: 0px #ffffff;
}


.aboutus {
    color: white;
    position: relative;
    top: 0px;
}

.usimg {
    /* width: 100%; */
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
}

.usimg> :nth-child(1) {
    height: 200px;
    width: 200px;
    border-radius: 7px;
}

.usimg> :nth-child(2) {
    height: 200px;
    width: 200px;
    border-radius: 7px;
}

.para {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.para> :nth-child(1) {
    font-weight: 900;
    font-size: 35px;
    position: absolute;
    top: -120px;
}

.para> :nth-child(2) {
    text-align: center;
    position: relative;
    bottom: 260px;
    text-align: center;
    width: 50%;
    font-size: 19px;

}

.para> :nth-child(3) {
    margin-bottom: 222px;
    text-align: center;
    position: relative;
    bottom: 255px;
    color: rgba(255, 255, 255, 0.726);
    line-height: 85px;

}


#cards-container {

    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    position: relative;
    bottom: 190px;
    overflow: hidden;
}

.cards> :nth-child(1) {
    color: white;
    font-weight: 900;
    transition: ease-in-out;
    text-align: left;
    padding: 8px;
    margin-top: 300px;
    font-size: 50px;
    -webkit-text-stroke: 1px #00000067;

}

.cards:hover .trhover {
    display: none;
}

.cards:hover .adhover {
    display: none;
}

.cards:hover .Lhover {
    display: none;
}

.cards {
    height: 400px;
    width: 330px;
    border-radius: 13px;
    overflow: hidden;
}

#card1 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card2 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card1,
#card2,
#card3 {
    background-size: cover;
    background-position: center;
    transition: transform 0.9s;
}

#card1:hover,
#card2:hover,
#card3:hover {
    transform: scale(1.1);
    transform: rotate3d(-1, 1, 0, 12deg);
    overflow: hidden;
}


.transaition {
    background-color: #95B112;
    height: 100%;
    width: 100%;
    padding-top: 110px;
    padding: 30px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.9s;
    overflow: hidden;
}

.transaition h4 {
    color: black;
    font-weight: 900;
    font-size: 28px;
}

.transaition p {
    color: rgba(0, 0, 0, 0.712);
    font-weight: 500;
    font-size: 18px;
    padding-top: 20px;
}

.transaition:hover {
    opacity: 100;
    transition: opacity 0.9s;
}


.greencontainer {
    margin-top: 60px;
    height: 185px;
    background: linear-gradient(#24A436, #69B429, #A1D021);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-transform: uppercase;
    text-align: center;
}

.greencontainer h2 {
    font-size: 30px;
    text-shadow: 8px 4px 20px #00000091;
}


.greencontainer> :nth-child(1) {
    object-fit: cover;
    height: 100%;
    width: 95px;
    z-index: 99;
    opacity: 50;
}

.greencontainer> :nth-child(3) {
    height: 100%;
    width: 95px;
    z-index: 99;

}


.slideshow-container {
    overflow: hidden;
    border-radius: 17px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

}

.slideshow-container img {
    width: 550px;
    height: 390px;
    margin-left: 105px;
    margin-top: 100px;
    border-radius: 17px;
    box-sizing: border-box;


}

.slidepara h1 {
    color: rgb(255, 255, 255);
    font-size: 37px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    /* width: 50%; */
    margin-top: 126px;
    margin-left: 57px;
    font-weight: 900;
    font-family: Montserrat, sans-serif;
    flex-direction: column;

}

.slidepara p {
    margin-top: 20px;
    color: rgb(214, 214, 214);
    display: flex;
    text-align: left;
    width: 70%;
    margin-left: 55px;
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
}

.slidepara button {
    width: 155px;
    height: 46px;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    margin-top: 20px;
    font-weight: 800;
    margin-left: 186px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border: 3px solid #7bdd25;
    background-color: #000000;
    border-radius: 15px;
}


.slidepara button::before {
    content: '';
    background: linear-gradient(45deg, #48ff00, #98CB22, #88C324, #7a00ff, #ff00c8, #ff0000, #2EA633, #31A733, #71B827, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 900%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 10s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 15px;
}


.slidepara button:hover:before {
    opacity: 1;
}

.slidepara button:hover {
    background-color: #A1D021;
}

.slidepara button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    border-color: #69B429;
    left: 0;
    top: 0;
    border-radius: 15px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.dots {
    cursor: pointer;
    height: 15px;
    width: 15px;
    top: 38px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    margin: 5px;
    overflow: hidden;
}

.active,
.dot:hover {
    background-color: #A1D021;
}

.imgs img {
    border-radius: 15px;
}

.imgs {
    transition: opacity 0.6s ease-in-out;
}



.totalwidth {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 1330px;
    width: 740px;
    z-index: 99;
}

.waiting {
    display: flex;
    align-items: center;
    justify-content: center;

}

.waiting h3 {
    margin-top: 140px;
    font-size: 70px;
    font-family: "Montserrat", sans-serif;
    text-shadow: 1px 0 0 rgb(255, 255, 255), 0 1px 0 rgb(255, 255, 255), -1px 0 0 rgb(255, 255, 255), 0 -1px 0 rgb(255, 255, 255);
}

.cadie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    z-index: 999;
    margin-top: -18px;
}

.one h3 {
    height: 165px;
    width: 370px;
    background-color: rgb(166, 212, 38);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 30px;
}

.cadie:hover .one {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-toptracer-1024x683.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    background-size: cover;
    background-position: center;
    border-radius: 20px;

}

.one h3:hover {
    opacity: 0;

}

.two h3 {
    height: 165px;
    font-weight: 900;
    font-size: 30px;
    width: 370px;
    background-color: rgb(166, 212, 38);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cadie:hover .two {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-lessons-1024x683.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    background-position: center;
    /* background-size: cover; */
    border-radius: 20px;
}

.two h3:hover {
    opacity: 0;
}

.three h3 {
    height: 165px;
    width: 370px;
    font-weight: 900;
    font-size: 30px;
    background-color: rgb(166, 212, 38);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.three h3:hover {
    opacity: 0;
}

.cadie:hover .three {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/page-ag-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
    background-size: cover;
    background-position: center;
    border-radius: 20px;

}

.one,
.two,
.three {
    transition: all 0.3s ease-in-out;
}

.one:hover,
.two:hover,
.three:hover {
    background-color: rgb(46, 156, 42);
    transform: scale(1.1);
}

.footbar {
    height: 278px;
    width: 100%;
    background: linear-gradient(to left, #0B9E3B, #25A536, #57B12B, #6EB727, #95C21E, #9ECD20);
    margin-top: 100px;
    overflow: hidden;
}

.footbar img {
    background-position: center;
    background-size: cover;
    height: 330px;
    opacity: 0.5;
    z-index: -1;
}

.footertxt {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -280px;
    font-family: "Montserrat", sans-serif;
    /* margin-left: 192px; */
}

.footerimg img {
    height: 182px;
    width: 169px;
    filter: invert(1);
    filter: contrast(6);

}

.firsttxt h4 {
    font-size: 25px;
    font-weight: 900;
}

.secondtxt h4 {
    font-size: 25px;
    font-weight: 900;
}

.thirdtxt h4 {
    font-size: 25px;
    font-weight: 900;
}

.thirdtxt p {
    font-size: 18px;
    font-weight: 500;
    font-family: "poppins";
}


.copyright h5 {
    font-family: "poppins";
    font-weight: 300;
    display: flex;
    justify-content: right;
    margin-right: 20px;

}

.copyright span {
    margin-right: 7px;
}


.footertxt h4:hover {
    color: rgb(255, 255, 255);
}




#arrow {
    position: fixed;
    bottom: 25px;
    left: 50px;
    cursor: pointer;
    background-color: rgb(149, 193, 30);
    height: 58px;
    width: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    border-radius: 50%;
    font-size: 37px;
    transition: opacity 0.5s;
}

#arrow:hover {
    background-color: transparent;
    border: 2px solid rgb(17, 159, 57);

}



@media only screen and (max-width:1259px) {
    .cursor {
        visibility: hidden;
    }

    .footbar {
        height: 275px;
    }



    .waiting h3 {

        margin-top: 142px;
        font-size: 23px;


    }

    .two h3 {
        height: 165px;
        font-size: 30px;
        width: 370px;

    }

    .cadie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
        z-index: 999;
        margin-top: -4px;

    }

    .two h3 {
        height: 143px;
        width: 310px;
        font-weight: 900;
        font-size: 30px;
        background-color: rgb(166, 212, 38);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .three h3 {
        height: 143px;
        width: 310px;
        font-weight: 900;
        font-size: 30px;
        background-color: rgb(166, 212, 38);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .one h3 {
        height: 143px;
        width: 310px;
        background-color: rgb(166, 212, 38);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-size: 30px;

    }



    .totalwidth {
        position: relative;
        top: -90px;
        width: 740px;

    }

    .dots {
        cursor: pointer;
        height: 10px;
        width: 10px;
        display: inline-block;
        position: relative;
        margin: 3px;
        overflow: hidden;
    }


    .slidepara h1 {
        font-size: 25px;
        margin-top: 105px;
    }

    .slideshow-container img {
        width: 485px;
        height: 368px;
    }



    .slidepara p {
        margin-top: 20px;
        margin-left: 55px;
        font-size: 15px;
        line-height: 36px;
        font-weight: 500;
    }

    .slidepara button {
        width: 113px;
        height: 42px;
        font-size: 12px;
        right: 137px;
        position: relative;

    }

    .greencontainer {
        height: 125px;
    }

    .greencontainer h2 {
        font-size: 20px;
    }

    .greencontainer> :nth-child(1) {
        object-fit: cover;
        height: 100%;
        width: 95px;
        z-index: 99;
        opacity: 50;
    }

    .greencontainer> :nth-child(3) {
        height: 100%;
        width: 95px;
        z-index: 99;

    }

    #cards-container {

        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
    }

    .usimg> :nth-child(1) {
        height: 200px;
        width: 200px;
        position: relative;
        bottom: -50px;
    }

    .usimg> :nth-child(2) {
        position: relative;
        bottom: -50px;
        height: 200px;
        width: 200px;
    }

    .para> :nth-child(2) {
        width: 90%;
        margin-top: 110px;
        text-align: center;
        width: 50%;
        font-size: 16px;

    }

    .para> :nth-child(1) {
        font-weight: 900;
        font-size: 35px;
        position: absolute;
        top: 0px;
    }

    .para> :nth-child(3) {

        text-align: center;
        position: relative;
        bottom: 225px;

    }


    .scrollinganimation {
        font-size: 40px;

    }

    #background h1 {
        font-size: 40px;
        display: flex;
        align-items: center;

    }

    #background h2 {
        font-size: 20px;
    }

    #background h4 {
        font-size: 11px;
        width: 80%;
    }

    .btn-55 {
        height: 36px;
        width: 80px;
    }

    .btn-55 {
        font-size: 11px;
    }

    .buttns {
        margin-left: -128px;
    }

    #nav {
        color: #7a00ff;
        padding: 0px 20px;
        gap: 60px;
    }

    #nav h4 {
        visibility: hidden;
        position: absolute;
    }

    #nav img {
        height: 55px;
    }

    .aboutus {
        overflow: hidden;
    }

    .waiting {
        overflow: hidden;
    }

    .cadie {
        overflow: hidden;
    }

    .footbar {
        overflow: hidden;
    }

    .hide {
        visibility: visible;
        right: -50px;
    }

    #nav h4 {
        visibility: hidden;
    }

    .buttns> :nth-child(1) {
        visibility: hidden;
    }

    #arrow {
        left: 10px;
    }


    .user {
        background: linear-gradient(to bottom, rgb(50, 157, 62), rgb(157, 205, 37));
        height: 540px;
        width: 445px;
        border-radius: 3px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 90px;


    }

}




@media only screen and (max-width:1020px) {

    .usimg {

        display: flex;
        padding: 50px;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .usimg> :nth-child(1) {
        height: 300px;
        width: 300px;
        position: relative;
        bottom: -50px;
    }

    .usimg> :nth-child(2) {
        position: relative;
        bottom: -50px;
        height: 300px;
        width: 300px;
    }

    .para {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .para> :nth-child(1) {
        font-weight: 900;
        font-size: 35px;

    }


    .para> :nth-child(2) {

        margin-top: 365px;
        text-align: center;
        width: 74%;
        font-size: 16px;
    }

    .para> :nth-child(3) {
        text-align: center;
        position: relative;
        bottom: 225px;
    }

}

@media only screen and (max-width:1020px) {

    .slideshow-container {
        overflow: hidden;
        border-radius: 17px;
        flex-direction: column;
        display: flex;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slideshow-container img {
        width: 485px;
        height: 368px;

        margin-left: 0px;
    }

    .slidepara {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .slidepara h1 {
        display: flex;
        align-self: center;
        justify-content: left;
    }

    .slidepara p {
        margin-top: 20px;
        margin-left: 55px;
        font-size: 15px;
        line-height: 36px;
        font-weight: 500;
        width: 65%;
    }

    .slidepara button {
        width: 113px;
        height: 42px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 75px;
        position: relative;
    }

    .totalwidth {
        position: relative;
        top: -463px;
        width: 100%;

    }

    .dots {
        cursor: pointer;
        height: 10px;
        width: 10px;
        display: inline-block;
        position: relative;
        margin: 3px;
        overflow: hidden;
    }


    .footerimg img {
        height: 169px;
        width: 124px;
    }

    .firsttxt h4 {
        font-size: 23px;
        font-weight: 900;
    }

    .secondtxt h4 {
        font-size: 23px;
        font-weight: 900;
    }

    .thirdtxt h4 {
        font-size: 23px;
        font-weight: 900;
    }

    .thirdtxt p {
        font-size: 16px;
        font-weight: 500;
        font-family: "poppins";
    }
}


@media only screen and (max-width:425px) {


    .usimg> :nth-child(1) {
        height: 155px;
        width: 156px;
    }

    .usimg> :nth-child(2) {
        height: 155px;
        width: 156px;

    }

    .usimg {
        display: flex;
        padding: 50px;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

}


@media only screen and (max-width:425px) {
    .slideshow-container img {
        width: 283px;
        height: 228px;
        margin-left: 0px;
    }
    .slidepara h1 {
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .slidepara p {
        width: 65%;
        line-height: 30px;
    }

    .totalwidth {
        position: relative;
        top: -510px;
        width: 100%;
    }


    .slidepara button {


        right: 120px;
        position: relative;
    }

    .slidepara h1 {
        font-size: 25px;
        margin-top: 60px;
    }
}

@media only screen and (max-width:375px) {
    .slideshow-container img {
        width: 283px;
        height: 228px;
        margin-left: 0px;
    }
    .slidepara h1 {
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .slidepara p {
        width: 65%;
        line-height: 30px;
    }

    .totalwidth {
        position: relative;
        top: -510px;
        width: 100%;
    }


    .slidepara button {


        right: 120px;
        position: relative;
    }

    .slidepara h1 {
        font-size: 25px;
        margin-top: 60px;
    }
}


@media only screen and (max-width:336px) {
    .slideshow-container img {
        width: 283px;
        height: 228px;
        margin-left: 0px;
    }
    .slidepara h1 {
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .slidepara p {
        width: 65%;
        line-height: 30px;
    }

    .totalwidth {
        position: relative;
        top: -600px;
        width: 100%;
    }


    .slidepara button {


        right: 120px;
        position: relative;
    }

    .slidepara h1 {
        font-size: 25px;
        margin-top: 60px;
    }
}



@media only screen and (max-width:320px) {

    .usimg {

        display: flex;
        padding: 50px;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .usimg> :nth-child(1) {
        height: 134px;
        width: 138px;
        position: relative;
        bottom: -50px;
    }

    .usimg> :nth-child(2) {
        position: relative;
        bottom: -50px;
        height: 134px;
        width: 138px;
    }


    .para> :nth-child(1) {
        font-weight: 900;
        font-size: 35px;

    }


    .para> :nth-child(2) {

        margin-top: 325px;
        text-align: center;
        width: 74%;
        font-size: 16px;
    }

    .para> :nth-child(3) {
        text-align: center;
        position: relative;
        bottom: 225px;
        line-height: 15px;
        font-size: 11px;
        width: 80%
    }

    .waiting h3 {
        margin-top: 142px;
        font-size: 19px;
    }

    .one h3 {
        height: 114px;
        width: 272px;
        font-size: 25px;
    }

    .two h3 {
        height: 114px;
        width: 272px;
        font-size: 25px;
    }

    .three h3 {
        font-size: 25px;
        height: 114px;
        width: 272px;
    }

    .greencontainer {
        height: 160px;
    }

    .greencontainer h2 {
        font-size: 16px;
    }

    .slideshow-container img {
        width: 283px;
        height: 228px;
        margin-left: 0px;
    }

    .slidepara h1 {
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .slidepara p {
        width: 65%;
        line-height: 30px;
    }

    .totalwidth {
        position: relative;
        top: -595px;
        width: 100%;
    }


    .slidepara button {


        right: 120px;
        position: relative;
    }

    .slidepara h1 {
        font-size: 25px;
        margin-top: 60px;
    }

    .footertxt {
        color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: -280px;
        font-family: "Montserrat", sans-serif;
        /* margin-left: 192px; */
    }

    .footbar {
        height: 500px;
    }

    .footerimg img {
        height: 94px;
        width: 165px;
    }

    .firsttxt h4 {
        font-size: 20px;
        font-weight: 900;
    }

    .secondtxt h4 {
        font-size: 20px;
        font-weight: 900;
        margin-left: -50px;
    }

    .thirdtxt h4 {
        font-size: 20px;
        font-weight: 900;
    }

    .thirdtxt p {
        font-size: 16px;
        font-weight: 500;
        margin-left: 32px;
    }

    .copyright h5 {
        margin-right: 10px;
        margin-top: 30px;
    }


    .cards {
        height: 334px;
        width: 272px;
        border-radius: 13px;
        overflow: hidden;
    }

    .cards> :nth-child(1) {
        padding: 4px;
        margin-top: 276px;
        font-size: 42px;
    }

    #background h1 {
        font-size: 55px;
        text-align: center;

    }

    #background h2 {
        font-size: 18px;
    }

    #nav {
        height: 83px;
        background-color: rgb(0, 0, 0);
    }

    .btn-55 {
        left: -30px;
        position: relative;
    }

    .btn-79 {
        right: 72px;
        --height: 56px;
    }
}